<ion-header>
  <ion-toolbar>
    <ion-title>User List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar show-cancel-button="focus" [(ngModel)]="searchingGitUser" (keyup.enter)="search($event)"
  placeholder="Search" (ionInput)="resetValueSet($event)"></ion-searchbar>

<div *ngIf="gitUserListArray.length > 0">
  <ion-item *ngFor="let items of gitUserListArray">
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" [src]="items.owner.avatar_url" />
    </ion-avatar>
    <ion-label>
      Name : {{items.name}}
    </ion-label>
  </ion-item>

</div>

<div *ngIf="gitUserListArray.length === 0">
  No Data Found
</div>
</ion-content>
